<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <meta name="description" content="「ずっと真夜中でいいのに。」の過去のライブセットリストのデータベースです。">
    <meta property="og:description" content="「ずっと真夜中でいいのに。」の過去のライブセットリストのデータベースです。">
    <meta name="twitter:card" content="summary">
    <meta property="og:url" content="https://zutomayo-database.herokuapp.com/" />
    <meta property="og:title" content="<%= title %>" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/f408a441a0.js" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BTPSL4VJ85"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BTPSL4VJ85');
    </script>
  </head>
  <body>
    <nav>
      <div class="side-menu-button-close">
          <i class="fa-solid fa-xmark fa-2xl"></i>
      </div>
      <div class="nav-contents">
        <a href="/">
          TOP
        </a>
        <a href="/setlist">
          SETLISTS
        </a>
        <a href="/song">
          SONGS
        </a>
        <a href="/counter">
          ZUTOMAYO COUNTER
        </a>
        <% if(typeof userId !== 'undefined') { %>
        <a href="/mypage">
          MY PAGE
        </a>
        <% } %>
      </div>
    </nav>
    <div class="container">
      <header>
        <div class="side-menu-button">
            <i class="fa-solid fa-bars fa-xl"></i>
        </div>
        <div class="header-content">
          <a href="/">
            <h1>ZUTOMAYO DATABASE</h1>
          </a>
        </div>
        <div class="login_button">
          <% if(typeof userId !== 'undefined') { %>
          <a href="/logout">
            <i class="fa-solid fa-right-from-bracket fa-xl"></i>
          </a>
          <% } else { %>
          <a href="/login/twitter">
            <i class="fa-solid fa-right-to-bracket fa-xl"></i>
          </a>
          <% } %>
        </div>
      </header>
      <main>
        <h2>ZUTOMAYO DATABASEへようこそ！</h2>
        <p>このサイトでは、<a class="text" href="https://zutomayo.net/" target="_blank" rel="noopener noreferrer">ずっと真夜中でいいのに。</a>の過去のライブのセットリスト情報を掲載しています。<br>過去参加したライブからどの曲を何回聴いたかカウントする機能もありますので、ぜひ使ってみていただけたらと思います。</p>
        <ul>
          <li>
            <a href="/setlist">
              <div>
                <h3>SETLISTS</h3>
                <p>過去に開催されたライブのセットリストを見ることができます。(内容は随時更新)</p>
              </div>
            </a>
          </li>
          <li>
            <a href="/song">
              <div>
                <h3>SONGS</h3>
                <p>ライブで歌われた各曲の情報を見ることができます。(いつ発表されたか、ライブで歌われた回数とか)</p>
              </div>
            </a>
          </li>
          <li>
            <a href="/counter">
              <div>
                <h3>ZUTOMAYO COUNTER</h3>
                <p>過去に参加したライブから、どの曲を何回ライブで聴いたかカウントすることができます。</p>
              </div>
            </a>
          </li>
          <% if(typeof userId !== 'undefined') { %>
          <li>
            <a href="/mypage">
              <div>
                <h3><%= userName %> さんのMY PAGE</h3>
                <p>ZUTOMAYO COUNTERの各種結果を保存することができます。</p>
              </div>
            </a>
          </li>
          <% } %>
        </ul>
      </main>
      <footer>
        <div class="footer-content">
          <p>ZUTOMAYO DATABASE</p>
          <a href="https://twitter.com/ayu_nanet_sun" target="_blank" rel="noopener noreferrer">twitter</a>
          <a href="https://github.com/ayu1028" target="_blank" rel="noopener noreferrer">github</a>
        </div>
      </footer>
    </div>
    <script src="/javascripts/menu.js"></script>
  </body>
</html>
