<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <meta name="twitter:card" content="summary">
    <meta property="og:url" content="https://zutomayo-database.herokuapp.com/" />
    <meta property="og:title" content="<%= title %>" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="header-content">
          <a href="/">
            <h1>ZUTOMAYO DATABASE</h1>
          </a>
        </div>
      </header>
      <main>
        <h2>ZUTOMAYO DATABASEへようこそ！</h2>
        <ul>
          <li>
            <a href="/setlist">
              <div>
                <h3>ライブセットリスト集</h3>
                <p>過去に開催されたライブのセットリストを見ることができます。(内容は随時更新)</p>
              </div>
            </a>
          </li>
          <li>
            <a href="/counter">
              <div>
                <h3>ZUTOMAYO COUNTER</h3>
                <p>過去に参加したライブから、どの曲を何回ライブで聴いたかカウントすることができます。</p>
              </div>
            </a>
          </li>
        </ul>
      </main>
      <footer>
        <div class="footer-content">
          <p>ZUTOMAYO DATABASE</p>
          <a href="https://twitter.com/ayu_nanet_sun">twitter</a>
          <a href="https://github.com/ayu1028">github</a>
        </div>

      </footer>
    </div>
  </body>
</html>
