<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>セットリスト集 | ZUTOMAYO DATABASE</title>
    <meta name="twitter:card" content="summary">
    <meta property="twitter:title" content="Route 84 Style">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="header-content">
          <a href="/">
            <h1>ZUTOMAYO DATABASE</h1>
          </a>
        </div>
      </header>
      <main>
        <p>ライブセットリスト集</p>
        <ul>
          <li>
            <a href="/live">
              <div>
                <h2>ZUTOMAYO FACTORY 「鷹は飢えても踊り忘れず」 [day1 ”memory_limit=-1”]</h2>
                <p>2022年4月16日</p>
                <p>@さいたまスーパーアリーナ</p>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div>
                <h2>ZUTOMAYO FACTORY 「鷹は飢えても踊り忘れず」 [day2 ”ob_start”]</h2>
                <p>2022年4月17日</p>
                <p>@さいたまスーパーアリーナ</p>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div>
                <h2>ZUTOMAYO FACTORY 「鷹は飢えても踊り忘れず」 [day2 ”ob_start”]</h2>
                <p>2022年4月17日</p>
                <p>@さいたまスーパーアリーナ</p>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div>
                <h2>ZUTOMAYO FACTORY 「鷹は飢えても踊り忘れず」 [day2 ”ob_start”]</h2>
                <p>2022年4月17日</p>
                <p>@さいたまスーパーアリーナ</p>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div>
                <h2>ZUTOMAYO FACTORY 「鷹は飢えても踊り忘れず」 [day2 ”ob_start”]</h2>
                <p>2022年4月17日</p>
                <p>@さいたまスーパーアリーナ</p>
              </div>
            </a>
          </li>
        </ul>
      </main>
      <footer>
        <div class="footer-content">
          <p>ZUTOMAYO DATABASE</p>
          <a href="#">twitter</a>
          <a href="#">github</a>
        </div>

      </footer>
    </div>
  </body>
</html>
